/*=======Nabvar====*/
.navbar{
  background:#3498DB ;

}
.navbar-collapse{
  align-items: center ;
}

.navbar-nav {
  float:none;
  margin:0 auto;
  text-align: center;
}

.nav-item a.active{
  border-bottom: 2px solid white;
}
.navbar-nav > li {
  display: inline-block;
  float:none;
  padding: 0px 15px;
}

/*=======Home====*/


.intro {
  height: 100vh;
  border-bottom: blanchedalmond 5px solid;
}

.carousel-inner{
  width: 100%;
  height: 100vh;
}

.carousel-item > img{
  width: 90%;
  height: 100vh;
  image-resolution: 300dpi;
}

/*=======Features====*/
.features {
  height: auto;
  position: relative;
  background: #EAF0F1;
  border-bottom: blanchedalmond 5px solid;
  padding-top: 30px;
}

.row  {
  padding-bottom: 10px;
}

.card{
  box-shadow: 0 5px 10px -5px;
  margin: 50px 30px;
  border-radius: 10px;
}

.card-title > .fa{
  color: green;
}

