/*=======Nabvar====*/
.navbar{
  background:#3498DB ;

}
.navbar-collapse{
  align-items: center ;
}

.navbar-nav {
  float:none;
  margin:0 auto;
  text-align: center;
}

.nav-item a.active{
  border-bottom: 2px solid white;
}
.navbar-nav > li {
  display: inline-block;
  float:none;
  padding: 0px 15px;
}

/*=======Home====*/


.intro {
  height: 100vh;
  border-bottom: blanchedalmond 5px solid;
}

.carousel-inner{
  width: 100%;
  height: 100vh;
}

.carousel-item > img{
  width: 90%;
  height: 100vh;
  image-resolution: 300dpi;
}

/*=======Features====*/
.features {
  height: auto;
  position: relative;
  background: #EAF0F1;
  border-bottom: blanchedalmond 5px solid;
  padding-top: 30px;
}

.row  {
  padding-bottom: 10px;
}

.card{
  box-shadow: 0 5px 10px -5px;
  margin: 50px 30px;
  border-radius: 10px;
}

.card-title > .fa{
  color: green;
}

/*=======Contact====*/
.contact-area {
  height: auto;
  position: relative;
  background: #F5F5F5;
  border-bottom: blanchedalmond 5px solid;
  padding-top: 30px;
}

.contact-from {
  margin-bottom: 100px;
}

.contact-from input {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #dddddd;
  border-radius: 10px;
  color: #444;
  font-size: 14px;
  font-weight: normal;
  height: inherit;
  margin-bottom: 18px;
  padding: 16px 20px 15px;
  transition: all 0.3s ease 0s;
  width: 100%;
  outline: medium none;
}

.contact-from input:focus {
  border-color: #007bff;
}

.contact-from textarea {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #dddddd;
  border-radius: 10px;
  color: #444;
  font-size: 14px;
  font-weight: normal;
  height: 100px;
  padding: 16px 20px;
  transition: all 0.3s ease 0s;
  width: 100%;
  outline: medium none;
}

.contact-from textarea {
  border-color: #007bff;
}

.contact-from input.submit {
  margin-bottom: 0;
  margin-top: 20px;
  transition: all 0.3s ease 0s;
  color: #444;
}

.contact-from input.submit:hover {
  color: #EAF0F1;
  background-color: #007bff;
}